@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

body {
    // font-family: 'Open Sans Condensed', sans-serif;
    font-family: "Abel", sans-serif;
    .mobile-hide{
        display: none;
    }
    @media (max-width: 768px) {
        // background: red;
        overflow: hidden;
        
        .mobile-hide{
            display: block;
            width: 100%;
            height: 100vh;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 999;
            background: red;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            text-transform: uppercase;
        }
    }
}
a {
    text-decoration: none !important;
    color: #292929;
}

.header-box {
    background: #f8f9fa;
    .top-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left {
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                justify-content: center;
                li {
                    font-size: 13px;
                    margin: 0 10px;
                    a {
                    }
                }
            }
        }
        .right {
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                justify-content: center;
                padding: 4px 0;
                li {
                    font-size: 14px;
                    margin: 0 10px;

                    a {
                    }
                }
            }
        }
    }
    .brand-main-box {
        padding-bottom: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        .search-form-box {
            width: 250px;
            position: relative;
            top: 50%;
            transform: translateY(50%);
            .search-form {
                right: 200px;
                top: 200px;
            }

            .search-field {
                background-color: transparent;
                background-image: url(https://wp-themes.com/wp-content/themes/twentythirteen/images/search-icon.png);
                background-position: 5px center;
                background-repeat: no-repeat;
                background-size: 24px 24px;
                border: none;
                cursor: pointer;
                height: 40px;
                margin: 3px 0;
                padding: 0 0 0 34px;
                position: relative;
                transition: width 400ms ease, background 400ms ease;
                width: 0px;
                cursor: pointer;
                border: 2px solid #c3c0ab;
            }

            .search-field:focus {
                background-color: rgba(255, 255, 255, 0.925);
                border: 2px solid #c3c0ab;
                cursor: text;
                outline: 0;
                width: 250px;
                color: rgb(36, 36, 36);
            }
            .search-form .search-submit {
                display: none;
            }
        }
        .brand-name {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        .add-cart-box {
            position: relative;
            top: 50%;
            transform: translateY(50%);
            .icon-cart-arrow {
                position: relative;
            }
            .detail {
                position: absolute;
                // padding: 15px;
                top: -10px;
                right: -20px;
                width: fit-content;
                border-radius: 50%;
                background: #ff416d;
                padding: 4px;
                width: 20px;
                height: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                .cartCount {
                }
            }
        }
    }
    .navbar-main-box {
        ul.navbar-ul {
            display: flex;
            justify-content: center;
            align-items: c;
            width: 100%;
            list-style: none;
            padding: 0;
            margin-top: 1rem;
            li {
                position: relative;
                cursor: pointer;
                margin: 0 10px;
                transition: all 1s ease-in-out;

                .nav-itme-links {
                    span {
                        text-transform: uppercase !important;
                    }
                    i {
                        color: rgb(167, 167, 167);
                    }
                }

                &:hover {
                    span {
                        color: #ff416d;
                    }
                    span {
                        i {
                            color: #ff416d;
                        }
                    }
                    .drowdown-box {
                        transform: rotateY(0deg);
                    }
                }
                .drowdown-box {
                    position: absolute;
                    background: rgb(255, 255, 255);
                    width: auto;
                    border: 1px solid rgb(245, 245, 245);
                    border-radius: 2px;
                    margin-bottom: 6;
                    overflow: hidden;
                    padding: 10px;
                    transform: rotateY(90deg);
                    transition: all 0.2s ease-in-out;
                    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.15);
                    top: 30px;
                    z-index: 999;
                    .drowdown-content-box {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: flex-start;
                        .link-box {
                            // border: 1px solid red;
                            margin-right: 20px;
                            a {
                                display: block;
                                margin-bottom: 4px;
                                font-size: 14px;
                                text-transform: uppercase;
                                &:hover {
                                    color: #ff416d;
                                }
                            }
                        }
                        .nav-banner-box {
                            margin: 10px;
                            img {
                            }
                        }
                    }
                }
            }
        }
    }
}

.slider-container {
    #heroslider {
        .carousel-inner {
            .carousel-item {
                a {
                    .img_box {
                        height: 500px;
                        overflow: hidden;
                        position: relative;
                        img {
                            position: relative;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%) scale(1.1);
                            transition: all 0.2s ease-in-out;
                            &:hover {
                                transform: translate(-50%, -50%) scale(1.2);
                            }
                        }
                    }
                }
            }
        }
    }
}

.Category-container {
    padding: 4rem;
    .Category-content {
        display: flex;
        justify-content: space-around;
        padding: 4px;
        .card {
            border: none;
            .card-body {
                padding: 0 ;
                text-align: center;
                .img-box {
                    padding: 10px;
                    border-radius: 50%;
                    border: 1px solid #ddd;
                    width: 120px;
                    height: 120px;
                    position: relative;
                    overflow: hidden;
                    img{
                        width: 100%;
                        // height: 100%;
                        position: relative;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 1;
                    }
                    &:hover{
                        // border-color: none;
                        &::before{
                            opacity: 1;
                        }
                        .title-hover-text{
                            top: 50%;
                        }
                    }
                    &::before {
                        content: "";
                        display: block;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        background-image: linear-gradient(45deg, #ed008a,#24e56e00);
                        position: absolute;
                        top: 0;
                        left: 0;
                        opacity: 0;
                        transition: all ease-in-out 0.5s;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                            z-index: 2;
                    }
                    .title-hover-text {
                        position: absolute;
                        z-index: 2;
                        top: 160%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-weight: bold;
                        text-transform: capitalize;
                        font-size: 18px;
                        line-height: 2rem;
                        color: #fff;
                        transition: all ease-in-out 0.5s;
                        line-height: 1.3rem;
                    }
                }
                .title-text {
                    text-transform: capitalize;
                    &:hover{
                        color: #ed008a;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.gender-container {
    padding: 4rem;
    .gender-card-main-box {
        display: flex;
        justify-content: space-around;
        width: 60%;
        margin: 0 auto;
        .card {
            border: none;
            transition: all 0.2s ease-in-out;
            &:hover {
                .card-body {
                    .img {
                        &::before {
                            background: rgba(0, 0, 0, 0.76);
                        }
                        &::after {
                            top: 50%;
                        }
                    }
                }
            }
            .card-body {
                padding: 0;
                text-align: center;
                .img {
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                    overflow: hidden;
                    position: relative;
                    img {
                        width: 100%;
                    }
                    &::before {
                        content: "";
                        display: block;
                        width: 100%;
                        height: 100%;
                        background: rgba(0, 0, 0, 0);
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        transition: all 0.2s ease-in-out;
                    }
                    &::after {
                        font-family: "FontAwesome";
                        content: "\f004";
                        transition: all 0.2s ease-in-out;
                        text-align: center;
                        font-size: 80px;
                        color: #ff043e;
                        position: absolute;
                        top: 120%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
}

.product-card-slider {
    padding-bottom: 2rem;

    .product-itme {
        padding-top: 2rem;
        .card {
            cursor: pointer;
            .card-banner {
                position: relative;
                .img-box {
                    width: 198px;
                    height: 198px;
                    position: relative;
                    overflow: hidden;
                    img {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
                .over_box {
                    position: absolute;
                    top: -10px;
                    left: -10px;
                    color: #ffffff;
                    display: flex;
                    text-align: center;
                    align-items: center;
                    justify-content: center;
                    font-size: 14px;
                    line-height: 0.8rem;
                }
                .off-box {
                    width: 40px;
                    height: 40px;
                    background: #ff043e;
                    border-radius: 50%;
                }
                .sale-box {
                    padding: 4px 10px;
                    color: #000;
                    background: #04ff82;
                }
            }
            .card-text {
                line-height: 1rem;
                a {
                    p {
                        margin-bottom: 8px;
                    }
                }
            }
            .product__price {
                span {
                    color: #ff043e;
                    .old {
                        text-decoration: line-through;
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .owl-nav {
        position: absolute;
        top: -30px;
        right: 20px;
    }
    .owl-dots {
        display: none;
    }
}
.owl-theme .owl-nav [class*="owl-"] {
    background: #ff043e !important;
}

.under-box-container {
    padding-bottom: 2rem;
    .under-price-main-box {
        display: flex;
        justify-content: center;
        .card-itme {
            width: 25%;
            padding: 10px;
            &:hover {
                img {
                    transform: scale(1.5);
                }
            }
            .img-box {
                overflow: hidden;
                border-radius: 6px;
                img {
                    width: 100%;
                    transition: all 0.2s ease-in-out;
                }
            }
        }
    }
}

.gallery-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    .img-box {
        overflow: hidden;
        height: 330px;
        &:hover {
            img {
                transform: scale(1.5);
            }
        }
        img {
            transition: all 0.2s ease-in-out;
            width: 100%;
            height: 100%;
        }
    }
}

.footer-container {
    padding: 2rem;
    padding-bottom: 0;
    background: #f0f0f0;
    .links-col {
        ul {
            list-style: none;
            padding: 0;
            li {
                transition: all 0.2s ease-in-out;
                position: relative;
                &:hover {
                    margin-left: 8px;
                    a {
                        color: #ff043e;
                    }
                    &::after {
                        width: 15px;
                    }
                }
                &::after {
                    content: "";
                    display: block;
                    width: 10px;
                    height: 2px;
                    background: #ff043e;
                    position: absolute;
                    left: -20px;
                    top: 50%;
                    transform: translateY(-50%);
                    transition: all 0.2s ease-in-out;
                }
            }
        }
    }
    .contact-col {
        ul {
            list-style: none;
            padding: 0;
            li {
                p {
                    i {
                        color: #ff043e;
                        margin-right: 10px;
                    }
                    &:hover {
                        a {
                            color: #ff043e;
                        }
                    }
                }
            }
        }
    }
    .copyright-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        .social__icons {
            list-style: none;
            padding: 0;
            margin: 0;
            // padding-top: 10px;
            display: flex;
            .social__itme {
                margin: 0 6px;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                border-radius: 50%;
                background: #b6b6b6;
                transition: all ease-in-out 0.3s;
                &:hover {
                    background: #ff043e;
                    border-color: #ff043e;
                }
                a {
                    color: #fff;
                    line-height: 1rem;
                    i {
                        font-size: 22px;
                    }
                }
            }
        }
        .copyright__text {
            color: #8c8a8a;
            p {
                margin: 0;
                a {
                    text-decoration: none;
                    font-weight: 600;
                    color: #ff043e;
                }
            }
        }
    }
}
